@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.treats {
    text-transform: capitalize;
    padding-top: 6.2rem;
}
 .treats .slide-btn{
    display: none;
}
.treats .carousel-indicators li{
    background-color: #58eb58;
    height: 0.3rem;
}
.treats  img {
    height:87vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
}
/* slide one */
.carousel-boby .treats-b {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6.5rem;
    gap: 1.3rem;
    line-height: 1;
    position: absolute;
    bottom: 17%;
}
.carousel-boby .treats-b-btn {
    height: 3.5rem;
    width: 10rem;
    border: 3px solid #58eb58;
    border-radius: 3rem;
    background: #acf4ac;
    color: #6e116e;
    font-size: 1.6rem;
    text-align: center;
}
 .slide-two .treats-b h3, .slide-one .treats-b h3{
    font-family: "Open Sans", sans-serif;
    color: #6e116e;
    font-size: 3.5rem;
    font-style: italic;
    line-height: 1.4;
    font-weight: 700;
 }
 .slide-one .treats-b h3{
    color: #acf4ac;
 }
.slide-two .carousel-boby .treats-b-btn{
    border: 3px solid #58eb58;
    background: #6e116e;
    color: #acf4ac; 
}
@media (min-width: 0px) and (max-width: 370px) {
    .treats  img {
        height:100%;
        width: 100%;
    }
    .treats {
        padding-top: 6rem;
    }
    .carousel-boby .treats-b {
        bottom:2%;
        gap: 0.5rem;
        line-height: 0.7;
        padding-left: 1rem;
    }
    .slide-two .treats-b  h3, .slide-one .treats-b  h3{
        font-size: 1rem;
     }
     .carousel-boby .treats-b-btn {
        height: 2rem;
        width: 4.7rem;
        font-size: 0.7rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
     }
}
@media (min-width: 370px) and (max-width: 430px) {
    .treats img {
        height: 100%; 
        width: 100%;  
    }
    .carousel-boby .treats-b {
        bottom:6%;
        gap: 0.5rem;
        line-height: 0.8;
        padding-left: 1rem;
    }
    .slide-two .treats-b  h3, .slide-one .treats-b  h3{
        font-size: 1.04rem;
     }
     .carousel-boby .treats-b-btn{
        height: 2.3rem;
        width: 5rem;
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
     }
}
@media (min-width: 430px) and (max-width: 500px) {
    .treats  img {
        height:100%;
        width: 100%;
    }
    .carousel-boby .treats-b {
        bottom: 10%;
        gap: 0.7rem;
        padding-left: 2rem;
    }
    .slide-two .treats-b h3, .slide-one .treats-b h3{
        font-size: 1.16rem;
    }
     .carousel-boby .treats-b-btn {
        height: 2.5rem;
        width: 5.7rem;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
     }
}
@media (min-width: 500px) and (max-width: 600px) {
    .treats  img {
        height:100%;
        width: 100%;
    }
    .carousel-boby .treats-b {
        bottom: 12%;
        gap: 0.7rem;
        padding-left: 2.2rem;
    }
    .slide-two .treats-b h3, .slide-one .treats-b h3{
        font-size: 1.32rem;
    }
     .carousel-boby .treats-b-btn {
        height: 3rem;
        width: 6.5rem;
        font-size: 1.05rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
     }
}
@media (min-width: 600px) and (max-width: 768px) {
    .treats  img {
        height:100%;
        width: 100%;
    }
    .carousel-boby .treats-b {
        padding-left: 2.2rem;
    }
    .slide-two .treats-b h3, .slide-one .treats-b h3{
        font-size: 1.7rem;
    }
     .carousel-boby .treats-b-btn {
        width: 8.5rem;
     }
}
@media (min-width: 610px) and (max-width: 768px) {
    .treats  img {
        height:100% !important;
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .treats  img {
        height:100% !important;
        width: 100%;
    }
.carousel-boby .treats-b {
    padding-left: 2.2rem;
    bottom: 19%;
}
.slide-two .treats-b h3, .slide-one .treats-b h3{
    font-size: 2.3rem;
}
}
 @media (min-width: 992px) and (max-width: 1360px) {
    .treats  img {
        height:90% !important;
        width: 100%;
    }
.carousel-boby .treats-b {
    padding-left: 2.8rem;
    bottom: 19%;
}
.slide-two .treats-b h3, .slide-one .treats-b h3{
    font-size: 3.2rem;
}
} 