* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Playfair Display', serif;
}
.navbar {
   padding:3px 14px 1px 14px;
   box-shadow: 0 1px 0px 0px #6e116e;
   position: fixed;
   top: 0;
   width: 100vw;
   min-height: fit-content;
   background-color: #ffffff;
   z-index: 1;
}

.wrapper {
   padding: 0rem 9rem;
}
.wrapper #nav-menu, .btn{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1.8rem;
   font-size: 1.05rem;
   color: #6e116e;
   text-transform: uppercase;
   list-style: none;
   font-weight: 600;
}
#nav-menu  a{
   text-decoration: none;
   color: #6e116e;
}
#nav-menu hr {
    border: none;
    width: 100%;
    height: 0.2rem;
    border-radius: 15px;
    background: #6e116e;
}
.nav-cupcake img {
   width: 5rem;
   height: 5rem;
  object-fit: cover; 
  margin-left: 3rem;
  position: fixed;
  top: 3%;
}
.navbar .hamburger {
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 3rem;
   height: 2.5rem;
   position: absolute;
   border: #8ad78a 5px groove;
   border-radius: 0.4rem;
   right: 0.9rem;
   top: 0.70rem;
   margin: 1.5rem 2rem;
}
.navbar .hamburger span {
   background-color: #6e116e;
   width: 2rem;
   height: 4px;
   margin: auto;
   padding-top: -0.4rem;
   border-radius: 0.4rem;
}
.dropdown-menu {
   min-height: 100%;
   width: 20rem;
   text-align: center;
   border: none;
   padding: 3rem;
   background-color: rgb(88, 235, 88,0.9);
}
.dropdown-menu a {
   font-size: 1.2rem;
   padding: 2rem;
}
.nav-cart-count {
   width: 18px;
   height: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -11px;
   margin-left: -79px;
   border-radius: 50%;
   font-size: 1rem;
   background: #800080;
   color: #fff;
   font-style: normal;
   position: absolute;
   bottom: 52%;
   left: 90.9%;
   font-style: italic;
}
.cart img {
   width: 5rem;
   height: 5rem;
   object-fit: cover;
   position: relative;
}
.cancel-button {
   position: absolute;
   top: 2rem;
   right: 2.5rem;
   background: transparent; 
   border:#58eb58 5px groove;
   width: 3rem;
   height: 2.5rem;
   border-radius: 0.4rem;
   color: #6e116e; 
   display: flex;
   align-items: center; 
   justify-content: center; 
 }
 
 .cancel-button .times {
   font-size: 2.5rem;
 }
 .hamburger.hidden {
   display: none !important; 
 }
@media (max-width: 900px) {
   .nav-cupcake img {
       top: 1%;
   }
.navbar{
       max-width:100%;
}
.navbar .hamburger{
   display: flex;
}
.navbar #nav-menu.open{
   display: flex;
}
.wrapper #nav-menu, .btn{
  gap: 0.3rem;
}
.navbar .wrapper{
 flex-direction: column;
 padding: 6rem 3rem 0 0;
 margin: auto;
} 
.wrapper #nav-menu{
   display: none;
   flex-direction: column;   
}  
.dropdown-menu a{
  font-size: 1rem;
  padding-top: 0.8rem;
}
.dropdown-menu{
padding:1rem 0;
width:13rem;
}
}
@media (min-width: 0px) and (max-width:340px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 70.9%;
   }
}
@media (min-width: 341px) and (max-width: 380px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 70.9%;
   }
}
 @media (min-width: 381px) and (max-width:430px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 67.8%;
   }
}
@media (min-width: 431px) and (max-width:500px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 65%;
   }
}
@media (min-width: 500px) and (max-width:550px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 63%;
   }
}
@media (min-width: 550px) and (max-width:600px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 62%;
   }
}
@media (min-width: 600px) and (max-width: 650px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 61.5%;
   }
}
@media (min-width: 650px) and (max-width: 700px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 60.2%;
   }
}
@media (min-width: 700px) and (max-width: 750px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 60%;
   }
}
@media (min-width: 750px) and (max-width: 800px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 59%;
   }
}
@media (min-width: 800px) and (max-width: 850px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 58.5%;
   }
}
@media (min-width: 850px) and (max-width: 900px) {
   .nav-cart-count {
      bottom: 13.4%;
      left: 58%;
   }
}
@media (min-width: 901px) and (max-width: 1000px) {
.wrapper #nav-menu, .btn{
   gap: 1rem;
   font-size: 1rem;
}
.wrapper {
   padding: 0rem 1.8rem;
}
.nav-cupcake img {
   margin-left: 1.5rem;
 }
}
@media (min-width: 1000px) and (max-width: 1030px) {
   .wrapper #nav-menu, .btn{
      gap: 1rem;
   }
   .wrapper {
      padding: 0rem 2rem;
   }
   }
@media (min-width: 901px) and (max-width: 1000px) {
   .nav-cart-count {
      left: 99.5%;
   }
}
@media (min-width: 1001px) and (max-width: 1030px) {
   .nav-cart-count {
      left: 99.5%;
   }
}
@media (min-width: 1030px) and (max-width: 1050px) {
   .wrapper #nav-menu, .btn{
      gap: 1rem;
   }
   .wrapper {
      padding: 0rem 2rem;
   }
   }
   @media (min-width: 1030px) and (max-width: 1050px) {
      .nav-cart-count {
         left: 98.9%;
      }
   }
   @media (min-width: 1050px) and (max-width: 1100px) {
      .wrapper #nav-menu, .btn{
         gap: 1.5rem;
      }
      .wrapper {
         padding: 0rem 2rem;
      }
      }
      @media (min-width: 1051px) and (max-width: 1100px) {
         .nav-cart-count {
            left: 99%;
         }
      }
    @media (min-width: 1101px) and (max-width: 1200px) {
         .wrapper #nav-menu, .btn{
            gap: 1.6rem;
         }
         .wrapper {
            padding: 0rem 6rem;
         }
         }
         @media (min-width: 1101px) and (max-width: 1200px) {
            .nav-cart-count {
               left: 93.5%;
            }
         }
         @media (min-width: 1201px) and (max-width: 1280px) {
            .nav-cart-count {
               left: 90%;
            }
         }