*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.newproducts{
    min-width: 100vw;
    display: flex; 
     flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;   
}  
.newproducts h1{
    text-align: center;
    color: #c129c1;
    font-size: 50px;
    font-weight: 500;
    margin-top: 20rem;
    position: relative;
}
.newproducts h1::after {
    content: "";
    height: 3.5px;
    width: 80%;
    bottom: .3%;
    left: 10%;
   background:#e060e0;
   position: absolute;
}
.collections{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr ;
 margin-top: 50px;
 gap: 5px;
 text-transform: capitalize;
}
 /* Media Screen for Special */
 @media (max-width: 576px) and (min-width: 0px){
    .newproducts{
    margin: auto;
    }
    .topic h1{
      font-size: 1.5rem;
    }
    .collections{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .newproducts h1::after {
        bottom: -9%;
    }
 }

 @media (min-width: 577px) and (max-width: 768px){
    .newproducts{
    margin: auto;
    }
    .topic h1{
    font-size: 1.5rem;
    }
    .collections{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .newproducts h1::after {
        bottom: -9%;
    }
 }
 @media (min-width: 768px) and (max-width: 992px){
    .topic h1{
        font-size: 2.5rem;
        }
 }