.popular{
    display: flex; 
     flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
.popular h1{
    color: #c129c1;
    font-size: 50px;
    font-weight: 500;
    margin-top: 15rem;
    position: relative;
}
.popular h1::after {
    content: "";
    height: 3.5px;
    width: 80%;
    bottom: .3%;
    left: 10%;
   background:#e060e0;
   position: absolute;
}
.popular-item{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr ;
 margin-top: 50px;
 gap: 10px;
 margin-left: 30px;
 text-transform: capitalize;
}

 /* Media Screen for Special */
 @media (max-width: 576px) and (min-width: 0px){
    .popular{
    margin: auto;
    }
    .popular h1{
      font-size: 1.5rem;

    }
    .popular-item{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .popular h1::after {
        bottom: -9%;
    }
 }

 @media (min-width: 577px) and (max-width: 768px){
    .newproducts{
    margin: auto;
    }
    .popular h1{
      font-size: 1.5rem;
    text-align: center;
    }
    .popular-item{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .popular h1::after {
        bottom: -9%;
    }
 }
 @media (min-width: 768px) and (max-width: 992px){
    .popular h1{
        font-size: 2.5rem;
 }
}